@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(239 68 68 / var(--tw-bg-opacity)) /* #ef4444 */;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fondo{
  background-image: url('./img/background1.jpg');
}
@font-face {
  font-family: "Naruto";
  src: url("./font/njnaruto.ttf");
}